{% extends "UmbrellaAdminBundle:Layout:layout.html.twig" %}

{% block content %}
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Test Data Table builder</h3>
                </div>

                <!-- /.box-header -->
                <div class="box-body">
                    {{ dump(results) }}
                </div>

            </div>
        </div>
    </div>
</section>
{% endblock %}